@model ROYALHOTEL.Models.Payment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Create Payment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Hidden input for Reservationid -->
            <input type="hidden" asp-for="Reservationid" />

            <div class="form-group">
                <label asp-for="Paymentmethod" class="control-label"></label>
                <input asp-for="Paymentmethod" class="form-control" />
                <span asp-validation-for="Paymentmethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cardholdername" class="control-label"></label>
                <input asp-for="Cardholdername" class="form-control" />
                <span asp-validation-for="Cardholdername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creditcardnumber" class="control-label"></label>
                <input asp-for="Creditcardnumber" class="form-control" />
                <span asp-validation-for="Creditcardnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expirydate" class="control-label"></label>
                <input asp-for="Expirydate" class="form-control" />
                <span asp-validation-for="Expirydate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


