@model ROYALHOTEL.Models.Payment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Paymentid" />
            <div class="form-group">
                <label asp-for="Reservationid" class="control-label"></label>
                <select asp-for="Reservationid" class="form-control" asp-items="ViewBag.Reservationid"></select>
                <span asp-validation-for="Reservationid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paymentmethod" class="control-label"></label>
                <input asp-for="Paymentmethod" class="form-control" />
                <span asp-validation-for="Paymentmethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cardholdername" class="control-label"></label>
                <input asp-for="Cardholdername" class="form-control" />
                <span asp-validation-for="Cardholdername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creditcardnumber" class="control-label"></label>
                <input asp-for="Creditcardnumber" class="form-control" />
                <span asp-validation-for="Creditcardnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expirydate" class="control-label"></label>
                <input asp-for="Expirydate" class="form-control" />
                <span asp-validation-for="Expirydate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paymentdate" class="control-label"></label>
                <input asp-for="Paymentdate" class="form-control" />
                <span asp-validation-for="Paymentdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
