@model ROYALHOTEL.Models.User

@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>Edit User Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="AdminController1" asp-action="EditProfile" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Userid" />
            <div class="form-group">
                <label asp-for="Userfname" class="control-label"></label>
                <input asp-for="Userfname" class="form-control" />
                <span asp-validation-for="Userfname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Userlname" class="control-label"></label>
                <input asp-for="Userlname" class="form-control" />
                <span asp-validation-for="Userlname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewProfile" asp-route-id="@Model.Userid">Back to Profile</a>
</div>
