@model IEnumerable<ROYALHOTEL.Models.Gallery>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imagepath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <img src=@Url.Content("~/Images/" + item.Imagepath) asp-append-version="true" style="border-radius:20%;" width="100" height="100" />
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Galleryid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Galleryid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Galleryid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
