@model IEnumerable<Room>
@{
    ViewData["Title"] = "GetHotelByRoomId";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Rooms</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, </p>
        </div>
        <div class="row mb_30">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src=@Url.Content("~/Images/"+item.Imagepath) asp-append-version="true" style="border-radius:20%;" width="200" height="200">
                            <a class="btn theme_btn button_hover" asp-controller="Reservations" asp-action="Book" asp-route-id="@item.Roomid">Book</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">@item.Roomtype</h4></a>
                        <h5>@item.Price$/<small>night</small></h5>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

