@model ROYALHOTEL.Models.Reporting

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}
<h1>Create</h1>

<h4>Reporting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalroomsbooked" class="control-label"></label>
                <input asp-for="Totalroomsbooked" class="form-control" />
                <span asp-validation-for="Totalroomsbooked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pricepernight" class="control-label"></label>
                <input asp-for="Pricepernight" class="form-control" />
                <span asp-validation-for="Pricepernight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalexpenses" class="control-label"></label>
                <input asp-for="Totalexpenses" class="form-control" />
                <span asp-validation-for="Totalexpenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


